.home-container {
    max-width: 100vw;
    background-image: url('../../../src/assets/cliff_horizontal.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home header {
    height: 75vh;
}

.glow {
    transition: .4s ease-in;
    -webkit-transition: all .4s ease;
}

.glow:hover {
    background: linear-gradient(var(--tertiary), var(--tertiary));
    transform: scale(1.05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

