.footer-container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.social-media-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 25%;
    margin: auto;
}

.social-media-container img {
    width: 26px;
    height: 26px;
    padding: 12px;
}

.social-media-container img:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 16px;
    align-self: center;
}